<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Dama</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="SEO, Learn About Seo?, What is SEO?, Guidelines on how to read a Search Engine Results Page, 
	How SEO Affects Business?, SEO VS SEM, ON-PAGE VS OFF-PAGE, URL CANONICAL, Search Engine Optimization, In Your Own Words, What Is The Difference Between SEO And SEM?" />
<meta name="description" content-" SEO VS SEM, ON-PAGE VS OFF-PAGE, URL CANONICAL">
<meta name="author" content="Criscia Dama">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">   
<link href="css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
<!-- //Custom Theme files -->  
<!-- web-fonts -->   
<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body> 
	<!-- banner -->
	<div class="w3ls-banner about-w3lsbanner">
		<div class="w3lsbanner-info">
			<!-- header -->
			<div class="header">
				<div class="container">   
					<div class="agile_header_grid"> 
						<div class="header-mdl agileits-logo"> 
							<h1><a href="/">SEO</a></h1> 
						</div>
						<div class="agileits_w3layouts_sign_in">
							<ul>
								<li><a href="#myModal2" data-toggle="modal" class="play-icon">Login</a></li>
								<li>Call us : <span>(+00) 123 234</span></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div> 
					<div class="header-nav"><!-- header-two --> 	
						<nav class="navbar navbar-default">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button> 
							</div>
							<!-- top-nav -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav cl-effect-16">
									<li><a href="/" data-hover="Home">Home</a></li>
									<li><a href="/about" data-hover="About">About</a></li> 
									<li><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="/icons" data-hover="SEO VS SEM">SEO VS SEM</a></li>
											<li><a href="/codes" data-hover="OFF PAGE VS ON PAGE">ON-PAGE VS OFF-PAGE</a></li>
											<li><a href="/codes2" data-hover="URL CANONICAL">URL CANONICAL</a></li>
										</ul>
									</li> 
									<li><a href="/gallery" data-hover="Web grader">Web grader</a></li>
									<li><a href="/contact" data-hover="Contact">Contact</a></li>
								</ul>  
								<div class="clearfix"> </div>	
							</div>
						</nav>    
					</div>	
				</div>	
			</div>	
			<!-- //header -->  
		</div>	
	</div>	
	<div class="welcome">
		<div class="container"> 
			<div class="col-md-6 w3ls_welcome_right"> 
				<div class="flexslider">
					<ul class="slides">
						<li>	
							<div class="agileits_w3layouts_welcome_grid">
								<img src="images/g1.jpg" alt=" " class="img-responsive" />
							</div>
						</li>
						<li>	
							<div class="agileits_w3layouts_welcome_grid">
								<img src="images/g2.jpg" alt=" " class="img-responsive" />
							</div>
						</li>
						<li>	
							<div class="agileits_w3layouts_welcome_grid">
								<img src="images/g3.jpg" alt=" " class="img-responsive" />
							</div>
						</li>
					</ul>
				</div> 
			</div>
			
	<!-- //banner --> 
	<!-- welcome -->	
	<div class="col-md-6 w3ls_welcome_left"> 
				<div class="w3ls_welcome_right1">
				
					<h3 class="agileits-title">ON-PAGE VS OFF PAGE</h3>
				
					<h6>In your own words, what is the difference between ON-PAGE SEO and OFF PAGE SEO?</h6>
					 <p>
On-Page SEO is the SEO on your actual page or blog. One of the most popular ways that search engines worldwide tend to rank websites is by looking for the prominence and frequency of certain keywords and phrases on various facets of your site, and assigning an appropriate degree of weight accordingly.

More weight is given to keywords and phrases that are used in prominent places such as headings, page titles, domain names, and images.</p>



      <div class="w3l_more">
						<a href="#" class="button button--nina" data-text="Learn more" data-toggle="modal" data-target="#myModal">
							<span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	
			


	<!-- Stats -->
	<div class="stats services jarallax"> 
		<div class="container">    
			<div class="stats-info agileits-w3layouts">
				<div class="col-sm-3 col-xs-6 stats-grid">
					<div class="stats-img">
						<i class="fa fa-users" aria-hidden="true"></i>
					</div>
					<h5>Happy Clients</h5>
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='157000' data-delay='.5' data-increment="100">157000</div>
				</div>
				<div class="col-sm-3 col-xs-6 stats-grid">
					<div class="stats-img w3-agileits">
						<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
					</div>
					<h5>Our Events</h5>
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='850' data-delay='8' data-increment="1">850</div>
				</div>
				<div class="col-sm-3 col-xs-6 stats-grid">
					<div class="stats-img w3-agileits">
						<i class="fa fa-briefcase" aria-hidden="true"></i>
					</div>	
					<h5>Projects</h5> 
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='80000' data-delay='.5' data-increment="100">80000</div>
				</div>
				<div class="col-sm-3 col-xs-6 stats-grid">
					<div class="stats-img w3-agileits">
						<i class="fa fa-trophy" aria-hidden="true"></i>
					</div>
					<h5>Awards</h5>
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='269' data-delay='8' data-increment="1">269</div>
				</div>
				<div class="clearfix"></div>
			</div> 
		</div>
	</div>
	<!-- //Stats -->   
	<!-- team -->
	
	<!-- //team -->   
	<!-- news letter -->
	<div class="subscribe jarallax">
		<div class="sub-agileinfo">
			<div class="container">
				<h3 class="agileits-title w3title1">Get our free newsletter</h3>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est consectetur adipisci velit sed quia non numquam eius.</p>
				<form>
					<input type="email" name="email" placeholder="Email Address" class="user" required="">
					<input type="submit" value="Subscribe">
				</form>
				<p class="spam">We never share your information or use it to spam you</p>
			</div> 
		</div>
	</div>
	<!-- //news letter -->
	<!-- footer -->
	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="footer-grids">
					<div class="col-md-3 col-sm-6 footer-logo">
						<div class="agileits-logo"> 
							<h2><a href="/">ON-PAGE VS OFF-PAGE</a></h2> 
						</div>

					</div>
					<div class="col-md-3 col-sm-6 footer-grid">
						<h3>Navigation</h3>
						<ul>
							<li><a href="/">Home</a> </li>
							<li><a href="/about">About</a></li> 
							<li><a href="/gallery">Gallery</a></li>
							<li><a href="/icons">Web Icons</a></li>
							<li><a href="/codes">Short Codes</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 footer-list">
						<h3>Latest Posts</h3>
						<ul>
							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> Vestibulum ante ipsum</li>
							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> Phasellus at eros</li>
							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> Mauris eleifend aliquet</li>
							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> Aliquam vitae tristique</li>
							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> Pellentesque lobortis</li>
							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> Class aptent taciti</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 footer-grid">
						<h3>Twitter Posts</h3>
						<ul class="w3agile_footer_grid_list">
							<li>Ut aut reiciendis voluptatibus <a href="#">http://example.com</a> alias, ut aut.
								<span><i class="fa fa-twitter" aria-hidden="true"></i> 02 days ago</span></li>
							<li>Itaque earum rerum hic tenetur a sapiente <a href="#">http://example.com</a> ut aut.
							<span><i class="fa fa-twitter" aria-hidden="true"></i> 03 days ago</span></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		
	</div>
	<!-- //footer -->
	<!-- modal-about -->
	<div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div> 
				<div class="modal-body modal-spa">
					<img src="images/g2.jpg" class="img-responsive" alt=""/>
					  <h4>What is On-Page SEO?</h4><p>
On-Page SEO is the SEO on your actual page or blog. One of the most popular ways that search engines worldwide tend to rank websites is by looking for the prominence and frequency of certain keywords and phrases on various facets of your site, and assigning an appropriate degree of weight accordingly.

More weight is given to keywords and phrases that are used in prominent places such as headings, page titles, domain names, and images.

Make sure that you employ the words and phrases that are most important to your site in these places wherever possible and practical for best results. However, be very careful as to not stuff your page with keywords. Keyword stuffing is an absolute no-no.

Always ensure that your chosen keywords and phrases are frequently searched by others before incorporating them into your site copy. Search the Internet and see what phrases and words are the most popular. You want these words to be completely relevant to the products and services you are offering. Whenever there's a solid opportunity to use one of your keywords in a natural-sounding fashion on your site, seize the opportunity for maximum results!</p>
<br>
<h4>What is Off-Page SEO?</h4><p>
Off-Page SEO is the use of keywords off your site. Search engines use mentions of your site, business name, and keywords used on other places across the web in order to determine your ranking in their results.

Great ways to optimize your off-page SEO value on your own include setting up social media accounts on popular sites like Facebook, Twitter, LinkedIn and Google+ so that interested parties can follow you and share your posts. As with on-page SEO tactics, always make sure that you keep your preferred keywords and phrases in mind when you update your social media accounts.

Whenever you can use these terms in a way that sounds normal and natural on these popular third-party sites, you can help to boost your SEO value by quite a bit over time. See to it that your social media profile descriptions and "about" summaries you use are laced with keywords when appropriate.

Always make your social media updates as helpful, interesting, and relevant to the consumer as possible. Feel free to engage your followers in polite conversation if a question is asked. This is a great way to build both a loyal customer following, and a high SEO ranking to boot!

As you can see, On-Page and Off-Page are both vital to the success of your website or blog in their own right. Use keywords appropriately and accordingly on your own site as well as social media networds for the maximum results.  </p>



 <h4>Briefly discuss the following SEO guides for ON-PAGE technique</h4>

 <strong>1. Page Titles</strong><p>
Your page titles are one of the most important SEO factors on your site. Each of your pages & posts should have its own unique title, which includes the main keywords for that page.
For example, you could write a blog post about a new chocolate cake recipe that you have tried. It is therefore vitally important that you include ‘Chocolate Cake Recipe’ within your post title, perhaps “Easy Chocolate Cake Recipe” or “ Chocolate Cake Recipe for kids”, etc.
This way, whenever someone searches for Chocolate Cake Recipes in a search engine, your post has a better chance of showing up because you have included those keywords.</p>
<p><strong>2. Meta Descriptions</strong>
Many people forget to include meta descriptions for their pages. These descriptions are an important place to include relevant keywords for your content, as these are used within the search results when your page is listed.
For instance, if we continue to use the ‘Chocolate Cake Recipe’ example, then a good meta description for that page would include those keywords and related ones. So, “This easy chocolate cake recipe is possibly the most delicious, mouth watering, chocolatey cake ever made.” would be a great meta description to use, as it is relatively short, whilst containing a number of specific keywords.</p>
<p><strong>3. Meta Tags</strong>
For each of your pages, you can include a set of keywords in the form of meta tags. These should be all the relevant keywords of your content, which you will have researched previously.
I use a WordPress plug-in on my sites called ‘All In One SEO Pack’. This allows me to enter all of my meta tag keywords, meta description and page title at the bottom of each of my posts before publishing. This simply inserts all of the information into your page HTML format for you, making your life a little easier.
Page Title, Meta Description and Meta Tags</p>
<p><strong>4. URL Structure</strong>
Including search engine friendly URLs for each of your pages is highly recommended, as these bring better crawling. Shorter URLs seem to perform better in search engine results, however that is not the only factor.
URLs that include targeted keywords, also perform better. The location of these keywords can also be a major influence. For example site.com/keyword would perform better than site.com/365/738/subfolder/keyword etc.
As you can see for this page, the URL is http://onlineincometeacher.com/traffic/on-page-seo-techniques/ I have included the keywords that are relevant for this post.</p>
<p><strong>5. Body Tags (H1, H2, H3, H4, etc.)</strong>
When writing your articles, you should break up your content into smaller sections & paragraphs to make it easier for people to read. These sections can be given heading, which is where H1, H2, H3, H4, etc. tags are used.
Generally H1 tags are reserved for your main page title, with subsequent headings (just like the ones I have used throughout this post) being issued H2, H3, etc. Search engines use these to determine what is important within your content. This is why keyword rich headines are more useful than generic ones. Make sure you write keyword rich headings in the order of priority in H1, H2 and H3 title tags. They are used by many crawlers to differentiate important content.</p>
<p><strong>6. Keyword Density</strong>
Including relevant keywords throughout your content is very important, as it helps search engines work out what your content is about. However, try not to excessively repeat and overuse keywords just for search engine robots. This can lead to your site being banned from search engines.
To avoid this, try to keep your keyword density to roughly 2-5%. If you find this hard, get out a thesaurus and broaden your writing vocabulary. This way, you are still writing about the same thing, without risk of being banned.</p>
<p><strong>7. Image SEO</strong>
On-Page SEO
Using images within your content is a great way to make your site more visually appealing and break up boring chunks of text. You can utilise these images to help improve your site SEO.
All your uploaded images have titles, so treat them just the same as your page titles. Including relevant keywords can help people find your site when searching on Google Images.
You can also include Alt Text and Descriptions for your images, making them even more useful with SEO.</p>
<p><strong>8. Internal Linking</strong>
People often think that the only links that count are those from other websites. While these links are important, these are not the only important links!
Placing links to your other website pages, is a great way of improving your site and used properly, internal links can be a useful weapon in your SEO arsenal. Not only does it make it much easier for your visitors to navigate around your site and find all of your content, but it also ensures that your site gets properly crawled allowing the search engines to find all of your pages. It also helps to build the relevancy of a page to relevant keywords and phrases, whilst also helping to increase the Google PageRank of your pages.
There are a number of different methods that you can use to improve your internal linking structure. The main being; content links and permanent navigation links.
For bloggers, content links are very useful when used properly. These are links that are placed within your article posts, which redirect people to other relevant pages on your site. For example, this post is focused on increasing traffic to your site, so readers may also find a post on ‘How To Drive Traffic To Your Blog‘ useful. Perhaps other people are just starting out blogging and want to learn more.</p>
<p><strong>Summary</strong>
These 8 techniques are just some of the ways that you can improve your on-page SEO. Any one used independently of the others won’t make much difference to your site ranking, however when used together, they can help to improve your site traffic.
They will help to get your pages working better, they will help to get your entire site crawled by search engine spiders, they will help increase the value of internal pages and they will build the relevancy of internal pages to specific keyword phrases.
So, it pays to spend some time implementing these to improve your site! Please leave your comments below & feel free to ask any questions.
</p>


<h4>Briefly discuss the following SEO guides for OFF-PAGE technique.</h4>
 <p>Off-page SEO will help make your website popular on the internet, so you can get more visibility. With the on-page techniques we can get visibility in search engines. But only off-page SEO techniques will help improve your website position in SERP. Take a look at the list of top 10 best off-page SEO techniques now in trend.</p>
<p><strong>1. Social Media Engagement</strong>

A major Off-page SEO technique is social media engagement. If you want to make your business, website or blog popular, engage with people on multiple social media platforms. Social media presence will help grow your business and also help you get more back links.</p>
<p><strong>2. Social Bookmarking Sites</strong>

Social bookmarking sites are one of the best platforms to promote your website. When you bookmark your webpage or blog post on popular social bookmarking websites, you gain high traffic to your webpage or blog.</p>
<p><strong>3. Forum Submission</strong>

Participate in search forums which are related to your website and business and make a connection with that community. Reply to threads, answer people’s questions and give your suggestions and advice. Make use of “Do-Follow” forums.</p>
<p><strong>4. Blog Directory Submission</strong>

Directory Submission is constantly working to build quality back links. Choose an effective directory and select a proper category. It takes quite some time to deliver good results, but these results stand out over a longer time period.</p>
<p><strong>5. Article Submission</strong>

Submit your articles in a high PR article submission directory. You can also give links to your website. Make sure your content is unique and of high quality. Low quality content and content that has more keyword stuffing might get rejected. Choose the correct category and give a good title to your content.</p>
<p><strong>6. Question and Answer</strong>

One of the best ways you can get high traffic is from question and answer websites. Join high PR question and answer sites and search for questions related to your business, blog or website and give clear answers to these questions. Give a link to your website which will help in bringing you more visibility.</p>
<p><strong>7. Video Submission</strong>

If you want to make your videos popular, head to popular video submission sites. Give a proper title, description, tags and reference links. It is one of the more popular ways to get quality back links because all video submission websites have high PR.</p>
<p><strong>8. Image Submission</strong>

Share your photos on popular image submission websites. Before submitting your images please optimize them with the correct URL and title tag. Before submitting your images, check if they have a proper title, description and tags.</p>
<p><strong>9. Infographics Submission</strong>

Make creative infographics. These days, infographics are getting popular on the internet. Submit your infographics on infographics submission websites and give reference links to your webpage or blog. The image sizes differ with different websites.</p>
<p><strong>10. Document Sharing</strong>

Create attractive documents relating to your business or blog. The documents should have unique content and should be in either pdf or ppt formats. Submit these documents in the document sharing websites.
</p>

				</div> 
			</div>
		</div>
	</div>

	<!-- //modal-about1 --> 

	<!-- modal sign in  -->
	<div class="modal bnr-modal about-modal w3-agileits fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div> 
				<div class="modal-body login-page "><!-- login-page -->      
					<div class="sap_tabs">
						<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
							<ul class="resp-tabs-list">
								<li class="resp-tab-item" aria-controls="tab_item-0"><span>Login</span></li>
								<li class="resp-tab-item" aria-controls="tab_item-1"><span>Register</span></li> 
							</ul>	 
							<div class="clearfix"> </div>	
							<div class="resp-tabs-container">
								<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
									<div class="agileits-login">
										<form action="#" method="post">
											<input type="email" class="email" name="Email" placeholder="Email" required=""/>
											<input type="password" class="password" name="Password" placeholder="Password" required=""/>
											<div class="wthree-text"> 
												<ul> 
													<li>
														<label class="anim">
															<input type="checkbox" class="checkbox">
															<span> Remember me ?</span> 
														</label> 
													</li>
													<li> <a href="#">Forgot password?</a> </li>
												</ul>
												<div class="clearfix"> </div>
											</div>  
											<div class="w3ls-submit"> 
												<input type="submit" value="LOGIN">  	
											</div>	
										</form>
									</div> 
								</div>
								<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
									<div class="login-top sign-top">
										<div class="agileits-login">
											<form action="#" method="post">
												<input type="text" name="Username" placeholder="Username" required="">
												<input type="email" class="email" name="Email" placeholder="Email" required=""/>
												<input type="password" class="password" name="Password" placeholder="Password" required=""/>	
												<label class="anim">
													<input type="checkbox" class="checkbox">
													<span> I accept the terms of use</span> 
												</label> 
												<div class="w3ls-submit"> 
													<input class="register" type="submit" value="REGISTER">  
												</div>
											</form> 
										</div>  
									</div>
								</div>
							</div>	
						</div>
						<div class="clearfix"> </div>
					</div>   
				</div> <!-- //login-page -->
			</div>
		</div>
	</div>
	<!-- //modal sign in -->  
	<!-- js --> 
	<script src="js/jquery-2.2.3.min.js"></script>  
	<!-- //js -->  
	<!-- jarallax -->  
	<script src="js/SmoothScroll.min.js"></script> 
	<script src="js/jarallax.js"></script> 
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>  
	<!-- //jarallax -->  
	<!-- flexSlider -->
	<script defer src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	</script>
	<!-- //flexSlider --> 
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
	<!-- ResponsiveTabs js -->
	<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true   // 100% fit in a container
			});
		});
	</script>
	<!-- //ResponsiveTabs js -->  
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>