<!DOCTYPE html>
<html lang="en">

  <head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- SEO -->
    <meta name="What is Search Engine Optimization?" content="">
    <meta name="zillahpoliks8" content="github">
    <meta name="seo" content="https://poliquit-itelect-assign1.herokuapp.com/HW1.html">
    <meta name="seo and sem" content="https://poliquit-itelect-assign1.herokuapp.com/HW2.html">
    <meta name="on-page and off-page" content="https://poliquit-itelect-assign1.herokuapp.com/HW3.html">


    <title>Search Enginge Optimization</title>
<!-- Favicon -->
    <link rel="shortcut icon" href="images/neko.png">
    <!-- <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="images/favicon/apple-touch-icon.png"> -->

    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="css/plugin.css">

    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
   </head>

 <body>



	 <!-- Preloader Start -->
     <div class="preloader">
	   <div class="rounder"></div>
      </div>
      <!-- Preloader End -->




    <div id="main">
        <div class="container">
            <div class="row">



                 <!-- About Me (Left Sidebar) Start -->
                 <div class="col-md-3">
                   <div class="about-fixed">

                     <div class="my-pic">
                        <img src="images/seo.png" alt="">
                        <a href="javascript:void(0)" class="collapsed" data-target="#menu" data-toggle="collapse"><i class="icon-menu menu"></i></a>
                         <div id="menu" class="collapse">
                           <ul class="menu-link">
                               <li><a href="HW1.html">SEO</a></li><br>
                               <li><a href="HW2.html">SEO VS SEM</a></li><br>
                               <li><a href="HW3.html">ON-PAGE VS OFF-PAGE</a></li>
                               <li><a href="HW4.html">URL Canonicalization</a></li>
                            </ul>
                         </div>
                        </div>



                      <div class="my-detail">

                        <div class="white-spacing">
                            <h1>C H I N G</h1>
                        </div>

                       <ul class="social-icon">
                         <li><a href="https://www.facebook.com/chingunicorn" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                         <li><a href="https://twitter.com/zpoliks_" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                         <li><a href="https://www.instagram.com/zillahpoliks_/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a></li>
                         <li><a href="https://github.com/zillahpoliks8" target="_blank" class="github"><i class="fa fa-github"></i></a></li>
                        </ul>

                    </div>
                  </div>
                </div>
                <!-- About Me (Left Sidebar) End -->





                 <!-- Blog Post (Right Sidebar) Start -->
                 <div class="col-md-9">
                    <div class="col-md-12 page-body">
                    	<div class="row">


                            <div class="sub-title">
                           		<b><h1>Search Engine Optimization</h1><br></b>
                              <span>June 14, 2017 / by <a href="#" target="_blank">C H I N G</a></span>
                             </div>


                            <div class="col-md-12 content-page">

                              <div class="col-md-12 blog-post">
                                    <div class="post-title">
                                    <img id="myImg" class="responsive-img" src="images/www.png" style="width: 100%;height: 100%">
                                      <h1>What is <span class="main-color">Search Engine Optimization</span> ?</h1>
                                    </div>
                                    <p align="justify">Search engine optimization (SEO)</em> is the act of expanding the amount and nature of movement to your site through natural web crawler comes about. It is an advertising discipline concentrated on developing perceivability in natural web crawler comes about. Website optimization joins both the particular and creative segments that is required to upgrade the rankings, drive development, and to construct care in web seek apparatuses. There are numerous angles to SEO, from the words on your page to the way different destinations connect to you on the web. Here and there SEO is only a question of ensuring your site is organized in a way that web indexes get it.
                                    <br>It is additionally the way toward influencing the perceivability of any site from a web crawler's unpaid outcomes that is regularly alluded to as normal, natural or earned outcomes.</p>
                                </div>

                              <div class="col-md-12 blog-post">
                                    <div class="post-title">
                                      <h1>Guidelines on how to read a Search Engine Results Page:</h1>
                                    </div>
                                    <h4><br><span class="main-color">CHECK OUT THE BIG TWO: ORGANIC AND PAY PER CLICK</span></h4>
                                    <p align="justify">Search results are generally commanded by two particular indexes: the organic or natural search results, and the PPC (Pay Per Click) search results.

                                    The organic-results index is made via searchbots. For example, Google utilizes something many refer to as a googlebot to recover pages. It's basic to discuss searchbots as though by one means or another they meander around the Internet, moving from page to page through connections between the pages, gathering the pages, and sending them back to home base to be examined and ordered.

                                    The search results typically put ten outcomes from the natural list into the indexed lists page, however, those outcomes are frequently scattered with different sorts of query items. (At times, specifically while adding nearby outcomes to the page, the web indexes may show fewer natural query items, maybe seven or eight.)

                                    Today, the three noteworthy web search tools all show PPC promotions, promotions that cost the promoter nothing until the point when somebody taps the advertisement, and soon thereafter the sponsor is charged immediately.

                                    PPC advertisements are normally put at the highest point of the indexed lists (three or four outcomes, however once in a while Google overlooks the best promotions) and in a segment to one side of the principle query items.</p>

                                    <h4><br><span class="main-color">LOOK AT LOCAL RESULTS</span></h4>
                                    <p align="justify">There's a moderately new kind of result that has turned out to be extraordinarily imperative, with an enormous nearness in many indexed lists pages. Search Yahoo!, for instance, for the term personal injury attorney, and you may see something like the figure. These Local results can take up a lot of space, in particular in Google and Yahoo!, and thus are an important consideration for businesses that serve a particular geographic area.</p>

                                    <h4><br><span class="main-color">CHECK OUT SHOPPING RESULTS</span></h4>
                                    <p align="justify">It’s often not hard for the search engines to figure out when someone is quite likely searching for a product he may be interested in buying. If someone searches for shoes, it’s quite likely he’s interested in buying a pair, either offline (that’s where the Local results come in) or online (that’s where the Shopping results come in).
                                    Then again, in the event that somebody seeks on shoe producing victorian britain, it's improbable that he's in the market for a couple.
                                    The major search engines all maintain product indexes, totally separate from the organic or even the PPC indexes.
                                    At the point when a web crawler figures you might be searching for item data, it embeds item comes about — commonly with pictures — into the indexed lists page. Clicking the Shopping search results leads into the search engine’s shopping area, where the searcher can find more information about these, and other, products.</p>

                                    <h4><br><span class="main-color">STAY CURRENT WITH NEWS RESULTS</span></h4>
                                    <p align="justify">Another significant search-result component is the news results. In the event that the web search tools think News results may be valuable to you, in light of your inquiry — look for obama or pretty much any nation name, for example — — then you’ll see News results embedded into the results page. Again, these are from a completely different source; in fact, publishers have to apply to be included in the News results. (Google has an established process and takes many sites. Yahoo! and Bing are far more restrictive.)</p>

                                    <h4><br><span class="main-color">VIEW VIDEO AND IMAGE RESULTS</span></h4>
                                    <p align="justify">You've more likely than not seen video and picture brings about the web indexes. Each of the three of the significant web crawlers file Youtube.com (it's possessed by Google). But they index other sites, too, such as Vimeo.com, Vevo.com, and Metcafe.com. If you want to try getting your videos into the search results.</p>

                                    <h4><br><span class="main-color">GET FRIENDLY WITH SOCIAL RESULTS</span></h4>
                                    <p align="justify">As of now the three noteworthy web crawlers join interpersonal organization comes about into the natural file; as such, they list informal organization destinations simply like whatever other webpage.
                                    <br>Some time ago Google was ordering Twitter tweets and giving them in a touch of looking over box inserted inside the list items. Google never again does that, in any event at the season of composing. Maybe the huge long range interpersonal communication news, however, to the extent Google goes, is Google+, Google's response to Facebook. 
                                    <br>Have you seen little creator photographs related with list items, regularly from sites? These little pictures are originating from Google+ accounts. Google is additionally customizing your list items in light of your Google+ connections. In case you're looking Google while signed into your Google account, you may see individual outcomes from your Google+ companions at the highest point of the page.</p>

                                    <h4><br><span class="main-color">COLLECT BITS AND PIECES</span></h4>
                                    <p align="justify">At last, the web indexes regularly implant little "odds and ends" into the list items, information absolutely isolate from these different records. For example, scan for dawn 80209 in Google, and comfortable best of the list items you'll see the season of the following dawn.
                                    <br>Try scanning for 173 pounds in usd, in any of the three noteworthy web indexes, and you'll see the present swapping scale, English pounds to U.S. dollars.
                                    <br>All three likewise have number crunchers (attempt (5674374/231) + (12987 * 7), for example). Searching for a flight? Or, then again film? Google and Bing will both give flights, while Google will give you motion picture times.
                                    <br>You might need to dive around at some point in your most loved web index — attempt every one of the connections and see where they go and read the Assistance pages to perceive what favor instruments are accessible. You might be astounded at what you find.</p>
                                </div>

                              <div class="col-md-12 blog-post">
                                    <div class="post-title">
                                      <h1>How <span class="main-color">SEO</span> affects business?</h1>
                                    </div>
                                    <p align="justify"><b>SEARCH ENGINE OPTIMIZATION</b> refers to the method of making a website exist and be accessed by other people so that it can gain popularity and subsequent value.  This is done by constructing the website and analyzing the content so that the keywords that will be typed into the search engine by potential customers will lead them to the site that has been indexed already.
                                    <br>Search Engine Optimization is a good way of making the content found in your website more relevant to what potential customers want.  It is also a good way of making your website more attractive, thus increasing readability and the amount of time people spend on the page, which is also valuable.  Through the use of good and reliable software, search engines serve their purpose much more effectively.
                                    <br>By placing your business in the various search engines, SEO makes it easier for people to have as much information as they would want regarding your business. By making it more detailed, potential customers have a clear idea of what they want and what they expect to get if they come to your site or business to purchase your products and/or services.  This is also a boost in the case of websites that are businesses in themselves.  For example, eBay, which is an online store, optimizes their site several times per day.  Also, with the aid and assistance of merchant bank accounts, there is a good possibility that a business that has partnered with SEO will have a huge financial boost, due to the ease of doing business for their customers.
                                    <br>One of the downsides to SEO, however, is neglect of a site that has once been optimized. There exists the possibility of detouring on the website if the SEO has resulted in broken links. Broken links can cause frustration to shoppers as it makes shopping hard.
                                    <br>Overall, however, SEO is a great way to streamline your website and gain popularity, thus making your website and your overall business more valuable.</p>
                                </div>

                                <div class="col-md-12 blog-post">
                                    <div class="post-title">
                                      <h1>Important <span class="main-color">SEO</span> Expectations</h1>
                                    </div>
                                    <ul>

                                      <br><li><p align="justify">Knowing only a few pages or posts on your site might ever rank well</p></li>
                                      <li><p align="justify">Failing to adjust</p></li>
                                      <li><p align="justify">SEO is more than just plugging holes</p></li>
                                      <li><p align="justify">The magic is in the maintenance</p></li>
                                      <li><p align="justify">Reality checking your budget</p></li>

                                    </ul>
                                </div>


                       <!-- Footer Start -->
                       <div class="col-md-12 page-body margin-top-50 footer">
                          <footer>
                          <ul class="menu-link">
                               <li><a href="index.html">Home</a></li>
                               <li><a href="resp.html">Responsiveness</a></li>
                               <li><a href="backlink.html">Design</a></li>
                               <li><a href="about.html">About</a></li>
                               <li><a href="contact.html">Contact</a></li>
                            </ul>

                          <p>© Copyright 2016 DevBlog. All rights reserved</p>


						  <!-- UiPasta Credit Start -->
                          <div class="uipasta-credit">Design By <a href="http://www.uipasta.com" target="_blank">UiPasta</a></div>
                          <!-- UiPasta Credit End -->


                         </footer>
                       </div>
                       <!-- Footer End -->


                  </div>
                  <!-- Blog Post (Right Sidebar) End -->

            </div>
         </div>
      </div>



    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
    <!-- Back to Top End -->


    <!-- All Javascript Plugins  -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugin.js"></script>

    <!-- Main Javascript File  -->
    <script type="text/javascript" src="js/scripts.js"></script>


   </body>
 </html>
