<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Dama</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="SEO, Learn About Seo?, What is SEO?, Guidelines on how to read a Search Engine Results Page, 
	How SEO Affects Business?, SEO VS SEM, ON-PAGE VS OFF-PAGE, URL CANONICAL, Search Engine Optimization, In Your Own Words, What Is The Difference Between SEO And SEM?" />
<meta name="description" content-" SEO VS SEM, ON-PAGE VS OFF-PAGE, URL CANONICAL">
<meta name="author" content="Criscia Dama">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">   
<link href="css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
<!-- //Custom Theme files -->  
<!-- web-fonts -->   
<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body> 
	<!-- banner -->
	<div class="w3ls-banner jarallax">
		<div class="w3lsbanner-info">
			<!-- header -->
			<div class="header">
				<div class="container">   
					<div class="agile_header_grid"> 
						<div class="header-mdl agileits-logo"><!-- header-two --> 
							<h1><a href="/">CJD</a></h1> 
						</div>
						<div class="agileits_w3layouts_sign_in">
							<ul>
								<li><a href="#myModal2" data-toggle="modal" class="play-icon">Login</a></li>
								<li>Call us : <span>(+00) 123 234</span></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div> 
					<div class="header-nav"><!-- header-three --> 	
						<nav class="navbar navbar-default">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button> 
							</div>
							<!-- top-nav -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav cl-effect-16">
									<li><a href="/" class="active" data-hover="Home">Home</a></li>
									<li><a href="/about" data-hover="About">About</a></li> 
									<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="/icons" data-hover="SEO VS SEM">SEO VS SEM</a></li>
											<li><a href="/codes" data-hover="OFF-PAGE VS ON-PAGEs">OFF-PAGE VS ON-PAGE</a></li>
											<li><a href="/codes2" data-hover="URL Canonical">URL Canonical</a></li>
										</ul>
									</li> 
									<li><a href="/gallery" data-hover="Web grader">Web grader</a></li>
									<li><a href="/contact" data-hover="Contact">Contact</a></li>
								</ul>  
								<div class="clearfix"> </div>	
							</div>
						</nav>    
					</div>	
				</div>	
			</div>	
			<!-- //header --> 
			<!-- banner-text -->
			<div class="banner-text agileinfo"> 
				<div class="container">
					<div class="agile_banner_info">
						<div class="agile_banner_info1">
							<h6>Criscia Jean Carmen Dama </h6>
							<div id="typed-strings" class="agileits_w3layouts_strings">
								<p>Welcome to<i> CJD's industry</i></p>
								<p><i>Search</i> engine optimization</p>
								<p>learn about<i> SEO?</i></p>
							</div>
							<span id="typed" style="white-space:pre;"></span>
						</div>
					</div> 
					<div class="agile_social_icons_banner">
						<ul class="agileits_social_list">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
						</ul>
					</div> 
				</div>
			</div>
			<!-- //banner-text -->  
		</div>	
	</div>	
	<!-- //banner -->
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="col-md-4 bnr-agileitsgrids">
			<div class="agileinfo_banner_bottom_pos">
				<div class="w3_agileits_banner_bottom_pos_grid">
					<div class="col-xs-4 wthree_banner_bottom_grid_left">
						<div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
							<i class="fa fa-clone" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-xs-8 wthree_banner_bottom_grid_right">	
						<h4>Packages</h4>
						<p>Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="col-md-4 bnr-agileitsgrids w3grid1">
			<div class="agileinfo_banner_bottom_pos">
				<div class="w3_agileits_banner_bottom_pos_grid">
					<div class="col-xs-4 wthree_banner_bottom_grid_left">
						<div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-xs-8 wthree_banner_bottom_grid_right">	
						<h4>Tutorial</h4>
						<p>Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="col-md-4 bnr-agileitsgrids w3grid2">
			<div class="agileinfo_banner_bottom_pos">
				<div class="w3_agileits_banner_bottom_pos_grid">
					<div class="col-xs-4 wthree_banner_bottom_grid_left">
						<div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
							<i class="fa fa-comment-o" aria-hidden="true"></i>
						</div>
					</div>

					<div class="col-xs-8 wthree_banner_bottom_grid_right">	
						<h4>Glossary</h4>
						<p>Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //banner-bottom -->
	<!-- welcome -->	
	<div class="welcome">
		<div class="container"> 
			<div class="col-md-6 w3ls_welcome_right"> 
				<div class="flexslider">
					<ul class="slides">
						<li>	
							<div class="agileits_w3layouts_welcome_grid">
								<img src="images/g1.jpg" alt=" " class="img-responsive" />
							</div>
						</li>
						<li>	
							<div class="agileits_w3layouts_welcome_grid">
								<img src="images/g2.jpg" alt=" " class="img-responsive" />
							</div>
						</li>
						<li>	
							<div class="agileits_w3layouts_welcome_grid">
								<img src="images/g3.jpg" alt=" " class="img-responsive" />
							</div>
						</li>
					</ul>
				</div> 
			</div>
			<div class="col-md-6 w3ls_welcome_left"> 
				<div class="w3ls_welcome_right1">
					<h3 class="agileits-title">What is SEO?</h3>
					<p>Search engine optimization is a methodology of strategies, techniques and tactics used to increase the amount of visitorsto a website by obtaining a high-ranking placement in the search results page of a search engine (SERP) — including Google, Bing, Yahoo and other search engines.</p>

					<div class="w3l_more">
						<a href="#" class="button button--nina" data-text="Learn more" data-toggle="modal" data-target="#myModal">
							<span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //welcome -->	
	<!-- services --> 
	<div class="services jarallax">
		<div class="container">   
			<h3 class="agileits-title w3title1"></h3>
			<div class="services-w3ls-row">
				<div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
					<span class="glyphicon glyphicon-home effect-1" aria-hidden="true"></span>
					<h5>Lorem ipsum</h5>
					<p>Itaque earum rerum hic a sapiente delectus in auctor sapien.</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
					<span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
					<h5>Ut non lacus</h5>
					<p>Itaque earum rerum hic a sapiente delectus in auctor sapien.</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
					<span class="glyphicon glyphicon-tree-deciduous effect-1" aria-hidden="true"></span>
					<h5>Maec rutrum</h5>
					<p>Itaque earum rerum hic a sapiente delectus in auctor sapien.</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-grid">
					<span class="glyphicon glyphicon-globe effect-1" aria-hidden="true"></span>
					<h5>Phase gravida</h5>
					<p>Itaque earum rerum hic a sapiente delectus in auctor sapien.</p>
				</div> 
				<div class="clearfix"> </div>
			</div>  
		</div> 
	</div>
	<!-- //services -->
	<!-- blog-bottom -->
	<div class="blog-bottom">
		<div class="container">
			<div class="col-sm-5 w3_agile_blog_bottom_left">
				<img src="images/s1.jpg" alt=" " class="img-responsive" />
			</div>
			<div class="col-sm-7 w3_agile_blog_bottom_right">
				<h5>ITE</h5>
				<h3>24/7 Customer Service Support</h3>
				<p>Pellentesque accumsan cursus dui, sodales blandit urna sodales vitae. 
					Maecenas placerat eget mi vitae euismod. Duis aliquam efficitur mi, 
					et eleifend velit.</p>
				<div class="w3l_more">
					<a href="#" class="button button--nina" data-text="Learn more" data-toggle="modal" data-target="#myModal">
						<span>L</span><span>e</span><span>a</span><span>n</span> <span>m</span><span>o</span><span>r</span><span>e</span>
					</a>
				</div> 
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //blog-bottom -->
	<!-- news letter -->
	<div class="subscribe jarallax">
		<div class="sub-agileinfo">
			<div class="container">
				<h3 class="agileits-title w3title1">Get our free newsletter</h3>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est consectetur adipisci velit sed quia non numquam eius.</p>
				<form>
					<input type="email" name="email" placeholder="Email Address" class="user" required="">
					<input type="submit" value="Subscribe">
				</form>
				<p class="spam">We never share your information or use it to spam you</p>
			</div> 
		</div>
	</div>
	<!-- //news letter -->
	<!-- footer -->
	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="footer-grids">
					<div class="col-md-3 col-sm-6 footer-logo">
						<div class="agileits-logo"> 
							<h2><a href="/">SEO</a></h2> 
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget egestas erat. In hac habitasse platea dictumst.</p>
					</div>
					<div class="col-md-3 col-sm-6 footer-grid">
						<h3>Navigation</h3>
						<ul>
							<li><a href="/">Home</a> </li>
							<li><a href="/about">About</a></li> 
							<li><a href="/gallery">Gallery</a></li>
							<li><a href="/icons">Web Icons</a></li>
							<li><a href="/codes">Short Codes</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 footer-list">
						<h3>Latest Posts</h3>
						<ul>
							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> Vestibulum ante ipsum</li>
							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> Phasellus at eros</li>
							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> Mauris eleifend aliquet</li>
							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> Aliquam vitae tristique</li>
							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> Pellentesque lobortis</li>
							<li><i class="fa fa-arrow-right" aria-hidden="true"></i> Class aptent taciti</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 footer-grid">
						<h3>Twitter Posts</h3>
						<ul class="w3agile_footer_grid_list">
							<li>Ut aut reiciendis voluptatibus <a href="#">http://example.com</a> alias, ut aut.
								<span><i class="fa fa-twitter" aria-hidden="true"></i> 02 days ago</span></li>
							<li>Itaque earum rerum hic tenetur a sapiente <a href="#">http://example.com</a> ut aut.
							<span><i class="fa fa-twitter" aria-hidden="true"></i> 03 days ago</span></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				
			</div>
		</div>
	</div>
	<!-- //footer -->
	<!-- modal-about -->
	<div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div> 
				<div class="modal-body modal-spa">
					<img src="images/g2.jpg" class="img-responsive" alt=""/>
					
					<h4>Guidelines on how to read a Search Engine Results Page.</h4>
					<p><strong>Check out the big two: organic and Pay Per Click.</strong>

Search results are mostly dominated by two particular indexes: the organic or natural search results, and the PPC (Pay Per Click) search results.

The organic-results index is created by searchbots. For instance, Google uses something called a googlebot to retrieve pages. It’s common to talk about searchbots as if somehow they wander around the Web, moving from page to page through links between the pages, collecting the pages, and sending them back to home base to be analyzed and indexed.

The search results typically put ten results from the organic index into the search-results page, though, those results are often interspersed with other types of search results. (In some cases, in particular when adding local results to the page, the search engines may display a smaller number of organic-search results, perhaps seven or eight.)

Today, the three major search engines all display PPC ads, ads that cost the advertiser nothing until someone clicks the ad, at which point the advertiser is charged instantly.

PPC ads are typically placed at the top of the search results (three or four results, though sometimes Google omits the top ads) and in a column to the right of the main search results.
</p>
<p>
<strong>Look at local results.</strong>


There’s a relatively new type of result that has become incredibly important, with a huge presence in many search-results pages. Search Yahoo!, for instance, for the term personal injury attorney, and you may see something like the figure. These Local results can take up a lot of space, in particular in Google and Yahoo!, and thus are an important consideration for businesses that serve a particular geographic area.
</p>
<p>
<strong>Check out shopping results.</strong>

It’s often not hard for the search engines to figure out when someone is quite likely searching for a product he may be interested in buying. If someone searches for shoes, it’s quite likely he’s interested in buying a pair, either offline (that’s where the Local results come in) or online (that’s where the Shopping results come in).

On the other hand, if someone searches on shoe manufacturing victorian england, it’s unlikely that he’s in the market for a pair.

The major search engines all maintain product indexes, totally separate from the organic or even the PPC indexes.

When a search engine figures you may be looking for product information, it inserts product results — typically with images — into the search-results page. Clicking the Shopping search results leads into the search engine’s shopping area, where the searcher can find more information about these, and other, products.
</p><p>
<strong>Stay current with News results.</strong>

Another significant search-result component is the news results. If the search engines think News results might be useful to you, based on your search — search for obama or just about any country name, for instance — then you’ll see News results embedded into the results page.

Again, these are from a completely different source; in fact, publishers have to apply to be included in the News results. (Google has an established process and takes many sites. Yahoo! and Bing are far more restrictive.)
</p><p>
<strong>View video and image results.</strong>

You’ve almost certainly seen video and image results in the search engines. All three of the major search engines index Youtube.com (it’s owned by Google). But they index other sites, too, such as Vimeo.com, Vevo.com, and Metcafe.com. If you want to try getting your videos into the search results.
</p><p>
<strong>Get friendly with social results.</strong>

Currently the three major search engines incorporate social-network results into the organic index; in other words, they index social-network sites just like any other site.

There was a time when Google was indexing Twitter tweets and providing them in a little scrolling box embedded within the search results. Google no longer does that, at least at the time of writing. Perhaps the big social-networking news, though, as far as Google goes, is Google+, Google’s answer to Facebook.

Have you noticed small author photos associated with search results, often from blogs? These little pictures are coming from Google+ accounts. Google is also personalizing your search results based on your Google+ relationships. If you’re searching Google while logged into your Google account, you may see personal results from your Google+ friends at the top of the page.</p><p>
<strong>Collect bits and pieces.</strong>

Finally, the search engines often embed little “bits and pieces” into the search results, data totally separate from these other indexes. For instance, search for sunrise 80209 in Google, and right at the top of the search results you’ll see the time of the next sunrise.</p>
<h4>How SEO Affects Business?</h4><p>Increase your website's visibility on search engines like Google and Bing and attract the right kind of traffic to the right pages on your site. Learn about search engine optimization including how to read a results page, find your ranking, and see how rankings affect businesses large and small</p>
<p>
<h4>List some of important SEO Expectations.</h4>
<p>> Execute Strategy</p>
<p>> Research keyword</p>
<p>> Create content</p>
<p>> Build Links</p>
<p>> Resolve technical Issue</p>

				</div> 
			</div>
		</div>
	</div>
	<!-- //modal-about -->  
	<!-- modal sign in  -->
	<div class="modal bnr-modal about-modal w3-agileits fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div> 
				<div class="modal-body login-page "><!-- login-page -->      
					<div class="sap_tabs">
						<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
							<ul class="resp-tabs-list">
								<li class="resp-tab-item" aria-controls="tab_item-0"><span>Login</span></li>
								<li class="resp-tab-item" aria-controls="tab_item-1"><span>Register</span></li> 
							</ul>	 
							<div class="clearfix"> </div>	
							<div class="resp-tabs-container">
								<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
									<div class="agileits-login">
										<form action="#" method="post">
											<input type="email" class="email" name="Email" placeholder="Email" required=""/>
											<input type="password" class="password" name="Password" placeholder="Password" required=""/>
											<div class="wthree-text"> 
												<ul> 
													<li>
														<label class="anim">
															<input type="checkbox" class="checkbox">
															<span> Remember me ?</span> 
														</label> 
													</li>
													<li> <a href="#">Forgot password?</a> </li>
												</ul>
												<div class="clearfix"> </div>
											</div>  
											<div class="w3ls-submit"> 
												<input type="submit" value="LOGIN">  	
											</div>	
										</form>
									</div> 
								</div>
								<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
									<div class="login-top sign-top">
										<div class="agileits-login">
											<form action="#" method="post">
												<input type="text" name="Username" placeholder="Username" required="">
												<input type="email" class="email" name="Email" placeholder="Email" required=""/>
												<input type="password" class="password" name="Password" placeholder="Password" required=""/>	
												<label class="anim">
													<input type="checkbox" class="checkbox">
													<span> I accept the terms of use</span> 
												</label> 
												<div class="w3ls-submit"> 
													<input class="register" type="submit" value="REGISTER">  
												</div>
											</form> 
										</div>  
									</div>
								</div>
							</div>	
						</div>
						<div class="clearfix"> </div>
					</div>   
				</div> <!-- //login-page -->
			</div>
		</div>
	</div>
	<!-- //modal sign in -->  
	<!-- js --> 
	<script src="js/jquery-2.2.3.min.js"></script>  
	<!-- //js -->  
	<!-- jarallax -->  
	<script src="js/SmoothScroll.min.js"></script> 
	<script src="js/jarallax.js"></script> 
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>  
	<!-- //jarallax -->
	<!-- ResponsiveTabs js -->
	<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true   // 100% fit in a container
			});
		});
	</script>
	<!-- //ResponsiveTabs js -->  
	<!-- banner-type-text -->
	<script src="js/typed.js" type="text/javascript"></script>
    <script>
		$(function(){

			$("#typed").typed({
				// strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
				stringsElement: $('#typed-strings'),
				typeSpeed: 30,
				backDelay:700,
				loop: true,
				contentType: 'html', // or text
				// defaults to false for infinite loop
				loopCount: false,
				callback: function(){ foo(); },
				resetCallback: function() { newTyped(); }
			});

			$(".reset").click(function(){
				$("#typed").typed('reset');
			});

		}); 
		function newTyped(){ /* A new typed object */ }

		function foo(){ console.log("Callback"); }
    </script>
	<!-- //banner-type-text -->
	<!-- flexSlider -->
	<script defer src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	</script>
	<!-- //flexSlider --> 
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>